html{
	scroll-behavior: smooth;
}

.carousel-item{
	max-height: 100vh;
	background: no-repeat center center scroll;
	-webkit-background-size:cover;
	background-size: cover;
}

.carousel-caption{
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav-item{
	font-family: 'Orbitron', sans-serif;
}

.marketing{
	margin-top: 20px;
}

.nav-item-theme{
	padding: 10px;
}

.theme-link{
	padding-left: 5px;
}

.card-img-top{
    padding: 25px;
    border-bottom: 2px solid;
    border-radius: 25px;
    border-color: lightgrey;
}

a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

hr{
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
    padding: 1px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* counter stats */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/*/ start count stats /*/

section#counter-stats {
	display: flex;
	justify-content: center;
}

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
  padding: 20px 0px;
}

/*/ end count stats /*/

#video{
	position: relative;
}

.container video {
    position:relative;
    z-index:0;
}

.overlay {
	position:absolute;
	color: white;
	font-family: 'Orbitron', sans-serif;
    margin-top: 200px;
    margin-left: 50px;
    top:0;
    left:0;
    z-index:1;
}

.overlay h4, h3{
	font-size: 17px;
}

.overlay h3{
	margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
	.overlay h4{
		font-size: 17px;
	}
	.overlay h3{
		font-size: 18px;
	}
	.overlay{
		margin-top: 150px;
	}
}

@media only screen and (max-width: 1000px) {
	.overlay h4{
		font-size: 14px;
	}
	.overlay h3{
		font-size: 15px;
		margin-bottom: 10px;
	}
	.overlay{
		margin-top: 150px;
	}
}

@media only screen and (max-width: 900px) {
	.overlay h4{
		font-size: 13px;
	}
	.overlay h3{
		font-size: 13px;
		margin-bottom: 0px;
	}
	.overlay{
		margin-top: 150px;
	}
}

@media only screen and (max-width: 768px) {
	.overlay h4{
		font-size: 12px;
	}
	.overlay h3{
		font-size: 12px;
		margin-bottom: -5px;
	}
	.overlay{
		margin-top: 165px;
	}
	.carousel-caption p {
		display: none;
	}
	.carousel-caption h1{
		font-size: 20px;
		margin-bottom: -5px;
	}
	.carousel-caption .btn{
		padding: 3px;
		margin-bottom: -10px;
	}
	.carousel-caption span a{
		font-size: 12px;
	}
	.carousel-item img{
		margin-top: 50px;
	}
	#top{
	margin-top: 25px;
	}
}
@media only screen and (max-width: 568px) {
	.overlay h4{
		font-size: 9px;
	}
	.overlay h3{
		font-size: 10px;
		margin-bottom: -17px;
	}
	.overlay{
		margin-top: 215px;
	}
	.carousel-caption p {
		display: none;
	}
	.carousel-caption h1{
		font-size: 20px;
		margin-bottom: -5px;
	}
	.carousel-caption .btn{
		padding: 3px;
		margin-bottom: -10px;
	}
	.carousel-caption span a{
		font-size: 12px;
	}
	.carousel-item img{
		margin-top: 50px;
	}
	#top{
	margin-top: 25px;
	}
}